recursive-include src *.nw
include LICENSE
include INSTALLATION
include TESTING
include BUILDING
include CONTRIBUTORS
include src/*.html
include TestPyCIFRW.py
include TestDrel.py
include RELEASENOTES
include README.md
include src/Programs/*.py
include src/Programs/*.cif
include src/Programs/*.html
include src/Programs/README
include src/Programs/Web.README
include src/Changelog
include src/Makefile
include src/lib/*
include docs/*.html
include docs/CifFile/*.html
