recursive-include pycifrw *.nw
include pycifrw/LICENSE
include pycifrw/INSTALLATION
include pycifrw/*.html
include pycifrw/*.pdf
include TestPyCifRW.py
include pycifrw/RELEASENOTES
include pycifrw/Programs/*.py
include pycifrw/Programs/*.cif
include pycifrw/Programs/*.html
include pycifrw/Programs/Web.README
include pycifrw/Changelog
include pycifrw/Makefile
include pycifrw/lib/*
